

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient;
    background-position: center;
    background-size: cover;
    position: relative;

}

body {
    background-image: url("../images/background vert.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
   
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(184, 106, 128);
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    background-color: #629b7015;
    border-radius: 15%;
}


.nav-links ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #de8781;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}




@font-face {
    font-family: 'Poppins';
    src: url('../Police\ -\ Poppins/Poppins-SemiBold.ttf');
}

.outer-container {
background-image: url("../M\'s\ Images/Img\ fond\ 2\ vert.png");
background-size: contain;
background-attachment:fixed;
background-position: center center;
padding: 0;
}

.inner-container {
    font-family: 'Poppins';
    text-align: center;
    border-style: double;
    margin: 0 auto ;
    margin-top: 50;
    text-align: center;
    max-width: 450px;
    padding: 0; 
}
/*20px est mieux ?*


/*body {
    background-color: #405538;
}
/* how to make background-colour only apply to inscription page?? */

/* .outer-container {
    background-color: #A2C19B;
    padding: 70px;
/* } TEST*/

/* .outer-container {
    margin: 0;
    padding: 0;
    /* Set a background color or image for the entire body */
    /* Quel est l'impact de margin+padding ??????? */
/* background-image: url("Images/Img fond 2 vert.png");
} */ 

h1 {
    font-size: 50px
}

h1, h2 {
    color: #E99F9F;
}

h4, p {
    color:  #405538;
}

/* h1,h2,h4 {
    font-family: 'Poppins';
/* }/* pas besoin de spécifier comme c'est dans le inner container */

.deja-compte, #nom, #prenom, #mail, #mdp, #confirmation {
    color: #405538
}

#nom, #prenom, #mail, #mdp, #confirmation {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    font-family: 'Poppins';
    font-size: 12px;
}

button {
    float: center;
    background-color: #E99F9F;
    color: #405538;
    width: 300px;
    height: 40px;
    border-radius: 12px

}

button  {
    font-size: 16px;
    font-weight: bold

}

button:hover {
    background-color: #A2C19B;
    color: #405538;
    
}










