

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}



body {
    background-image: url("../images/background vert.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
   
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(184, 106, 128);
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    background-color: #629b7015;
    border-radius: 15%;
}


.nav-links ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #de8781;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
h1{
    text-align: center;
}

/*----- Icones -----*/

.p{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  margin: 10% 0;

}
  

.hidden-checkbox {
    /* display:none; */
}

#ingredient-icons label {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    margin-left: 30px;
}

#ingredient-icons label img {
    width: 100px; 
}

#ingredient-icons input[type="checkbox"]:checked + label img {
   
    border: 2px solid #2c140e; 
}

.bouton-magie {
    display: inline-block;
    text-decoration: none;
    color: #281716;
    border: 1px solid #de8781;
    padding: 12px 34px;
    font-size: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 35%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.bouton-magie:hover{
    border: 1px solid #70b17f;
    background: #70b17f;
    transition: 1s;
    margin-bottom: 300px;


}

#ingredient-icons h3{
    text-align: center;
    margin-top: 130px;
}


/*----- footer -----*/

.icons{
    display: flex;
   margin-left: 550px;

   
  }  
  .icons a{
   margin: 5px 10px;
}
  .liens-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
   padding-top: 30px;
   font-size: 18px;
    color: black;
  }

a {
  color: black;}
a {font-weight: bolder;}

.linkedin:hover {
  color: #04009a;
}
.twitter:hover {
color: #00adb5;
}
.facebook:hover {
color: blue;
}

.instagram:hover {
color: #e11d74;
}

.liens-footer a:hover {
color: red;
background-color: transparent;
text-decoration: overline;
}

a i {
transition: all 0.3s linear;
}
